<div class="center jumbotron">
  <h1>Welcome to Influencr</h1>

  <h2>Say something and see who pays attention!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= render 'layouts/top_post' %>