<div class="center hero-unit">
  <h1>Welcome to the Announciator</h1>

  <h2>Make an Annoucement, and see who pays attention!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>