<div class="container">
	<h4>Here's what we're paying attention to right now. Most popular announcement:</h3>
	<div class="center hero-unit popular">
		<h3>This site is awesome!</h3>
		<h2>Posted by some guy<%# User %> at <%= Date.new(2014,4,10) %></h2>
	</div>
</div>